@use 'variables'
@use 'mixins'

.contactForm
  @include mixins.flex-row
  padding: 116px
  background: variables.$slate-gray1
  color: variables.$light-sea1
  h2
    font-size: 2.37rem
    font-weight: bold
    width: 428px
  
  form
    @include mixins.flex-column-center
    padding: 24px
    width: 722px
    gap: 1rem
    background: variables.$pink
    box-shadow: variables.$shadow-rosy-dark
    input,textarea
        display: block
        width: 100%
        margin: 10px 0
        width: 96%
        background: variables.$sandy-brown
        box-shadow: variables.$shadow-rosy
        border: none
        padding: 8px
        &::placeholder
            font-size: 1.25rem
            color: variables.$saddle-brown
    h3
        font-weight: bold
        font-size: 2.25rem
        color: variables.$slate-gray4
        text-align: center

.textarea
  height: 100px

.button
  border: none
