@use 'variables'
@use 'mixins'

.nav
  @include mixins.flex-row-space
  align-items: center
  width: 100%
  background: variables.$slate-gray4
  
.logo
  width: 60px
  height: 60px
  background: url("https://raw.githubusercontent.com/joao-ressel/portfolio-joao/main/src/assets/logo-pink.png") no-repeat top center/cover
  &:hover
    background: url("https://raw.githubusercontent.com/joao-ressel/portfolio-joao/main/src/assets/logo-slate.png") no-repeat top center/cover

.navlinks
  @include mixins.flex-row
  width: 532px
  list-style: none
  gap: 1rem
  a
    color: variables.$pink
    font-weight: bold
    font-size: 1.25rem
    &:hover
      color: variables.$slate-gray1

.icons
  display: flex
  gap: 10px
  font-size: 1.25rem
  svg
    background: variables.$pink
    color: variables.$slate-gray4
    border-radius: 50%
    padding: 4px
    &:hover
      background: variables.$slate-gray1

@media ( width <= 1199px)
  .nav
    padding: 1rem 6rem
  .navlinks
    width: 232px
    list-style: none
    gap: 1rem
    a
      color: variables.$pink
      font-weight: bold
      font-size: 1rem
      &:hover
        color: variables.$slate-gray1

  .icons
    display: flex
    gap: 10px

    svg
      background: variables.$pink
  .logo
    width: 40px
    height: 40px

@media (width <= 768px)
  .nav
    padding: 2rem 0
    height: auto
    .icons
      flex-direction: column
    .navlinks
      flex-direction: column
