@use 'variables'
@use 'mixins'

.nav
  display: flex
  justify-content: space-between
  align-items: center
  height: 7.25rem
  padding: 0 7.25rem
  
.logo
  width: 60px
  height: 60px
  background: url("https://raw.githubusercontent.com/joao-ressel/portfolio-joao/main/src/assets/logo-pink.png") no-repeat top center/cover
  &:hover
    background: url("https://raw.githubusercontent.com/joao-ressel/portfolio-joao/main/src/assets/logo-slate.png") no-repeat top center/cover

.navlinks
  @include mixins.flex-row
  width: 532px
  list-style: none
  gap: 1rem
  a
    color: variables.$pink
    font-weight: bold
    font-size: 1.25rem
    &:hover
      color: variables.$slate-gray1

.icons
  display: flex
  gap: 10px
  svg
    background: variables.$pink
    color: variables.$slate-gray4
    border-radius: 50%
    padding: 4px
    &:hover
      background: variables.$slate-gray1

