@use 'variables'
@use 'mixins'
@import 'home'
@import 'navbar'
@import 'projects'
@import 'project'
@import 'contact_form'
@import 'footer'
@import 'button'

body
  font-family: Space Mono, sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  color: inherit

input, textarea
  font-size: 16px

body
  color: variables.$slate-gray2
  background-color: variables.$slate-gray4

  a
    color: variables.$slate-gray1
    text-decoration: none
    transition: .4s
    ul
      list-style: none
      padding: 0
      margin: 0

      li
        display: inline
        font-weight: bold

.container
  @include mixins.flex-column
  background: variables.$slate-gray4
  gap: 64px
  width: auto
  margin: 0 auto
  padding: 0 10rem

button, input, select, option
  font-family: Space Mono, sans-serif

@media (width <= 1920px)
  .container
    padding: 2rem 8rem

@media (width <= 1199px)
  .container
    padding: 0 6rem

@media ( width <= 992px)
  .container
    padding: 0 4rem

@media (width <= 768px)
  .container
    padding: 0 2rem
